.circular-progress-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #ffffffaa;
  z-index: 1;
}
.circular-progress {
  margin: auto;
}
.clamped {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  max-width: 250px;
}
.potion-image {
  width: 150px;
  border-radius: 6px;
  margin: 10px;
}
.board-label {
  white-space: nowrap;
  margin-right: 10px !important;
  min-width: 140px;
  font-weight: 300 !important;
}
.board-text {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 400px;
}
.input-field input {
  padding: 10px;
  width: 400px;
}
.feedback-submit-button {
  width: 200px;
  margin: auto !important;
  margin-bottom: 20px !important;
}
